.ant-table-thead th{
    color: red !important;
    font-size: 18px;
    width: 20% !important;
}

.ant-table-tbody{
  color: #41B5D0;
  font-size: 15px;
}

.ant-table-tbody .buttonluyende{
    background: white;
    color: #41B5D0;
    border: 2px solid #41B5D0;
    box-shadow: #88a5bf7a 6px 2px 16px, #fffc -6px -2px 16px;

}

.seacch .display{
    display: flex; 
    align-items: center;
}

.seacch .display input{
    border: 1px solid #41B5D0;
    background: white;
    box-shadow: #88a5bf7a 6px 2px 16px, #fffc -6px -2px 16px;
    z-index: 0 !important;

}

.seacch .display .icon{
  font-size: 25px;
  background: #41B5D0;
  color: white;
  padding: 3.5px;
  margin-left: -3px;
  z-index: 1 !important;
}

.seacch .khung{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.148);
    width: 48%;
    background: white;
    color: #41B5D0;
    display: block;
}